.divider {
  margin: 1rem 0;
  line-height: 1;
  height: 0;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: .05rem;
  user-select: none;
  color: var(--grey-4);

  display: table;
  white-space: nowrap;
  height: auto;
  line-height: 1;
  text-align: center;

  &::after,
  &::before {
    content: '';
    display: table-cell;
    position: relative;
    top: 50%;
    width: 50%;
    background-repeat: no-repeat;
    background-image: url("https://images.weserv.nl/?url=https://cdn.jsdelivr.net/gh/slx-world/blog-images@master/blog-assets/theme-shoka/source/images/divider.png")
  }

  &::before {
    background-position: right 1rem top 50%
  }

  &::after {
    background-position: left 1rem top 50%
  }

}
